################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EduApoyosBack/.vs/EduApoyos.slnx/FileContentIndex
/EduApoyosBack/.vs
/EduApoyosBack/.vs
EduApoyosBack/tests/EduApoyos.Application.Tests/obj/Debug/net8.0/EduApoyos.Application.Tests.AssemblyInfoInputs.cache
/EduApoyosBack/.vs/EduApoyos.slnx/v18/.suo
