################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EduApoyosBack/.vs/EduApoyos.slnx/FileContentIndex
/EduApoyosBack/.vs
/EduApoyosBack/.vs
EduApoyosBack/tests/EduApoyos.Application.Tests/obj/Debug/net8.0/EduApoyos.Application.Tests.AssemblyInfoInputs.cache
/EduApoyosBack/.vs/EduApoyos.slnx/v18/.suo
/EduApoyosBack/.vs
*.json
/EduApoyosBack/.vs
EduApoyosBack/.vs/EduApoyos.slnx/v18/DocumentLayout.backup.json
EduApoyosBack/.vs/EduApoyos.slnx/v18/DocumentLayout.json
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.exe
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/ApiEndpoints.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/apphost.exe
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.pdb
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.sourcelink.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EndpointInfo/EduApoyos.API.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/ref/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/refint/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rpswa.dswa.cache.json
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.sourcelink.json
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/ref/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/refint/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Domain/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.sourcelink.json
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/ref/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/refint/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.sourcelink.json
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/ref/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/refint/EduApoyos.Infrastructure.dll
EduApoyosBack/.vs/EduApoyos.slnx/v18/DocumentLayout.backup.json
EduApoyosBack/.vs/EduApoyos.slnx/v18/DocumentLayout.json
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.exe
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.API.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.API/bin/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/ApiEndpoints.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/apphost.exe
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.pdb
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EduApoyos.API.sourcelink.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/EndpointInfo/EduApoyos.API.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/ref/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/refint/EduApoyos.API.dll
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rjsmcshtml.dswa.cache.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rjsmrazor.dswa.cache.json
EduApoyosBack/src/EduApoyos.API/obj/Debug/net8.0/rpswa.dswa.cache.json
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Application/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/EduApoyos.Application.sourcelink.json
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/ref/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Application/obj/Debug/net8.0/refint/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Domain/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/EduApoyos.Domain.sourcelink.json
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/ref/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Domain/obj/Debug/net8.0/refint/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Application.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Application.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Domain.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Domain.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/bin/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.AssemblyInfo.cs
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.AssemblyInfoInputs.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.csproj.AssemblyReference.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.csproj.CoreCompileInputs.cache
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.pdb
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/EduApoyos.Infrastructure.sourcelink.json
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/ref/EduApoyos.Infrastructure.dll
EduApoyosBack/src/EduApoyos.Infrastructure/obj/Debug/net8.0/refint/EduApoyos.Infrastructure.dll
