################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/EduApoyosBack/.vs/EduApoyos.slnx/FileContentIndex
/EduApoyosBack/.vs
/EduApoyosBack/.vs
